/target/

institutemanagementsystem/src/main/resources/application.properties
institutemanagementsystem/target/classes/META-INF/maven/com.winhe/institutemanagementsystem/pom.properties                                                                                                                ETA-INF/maven/com.winhe/institutemanagementsystem/pom.properties
